<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
      <div><a href ="https://www.myGoals.com" class="navbar-brand">Goals</a></div>
      <ul class=navbar-nav>
        <li><a *ngIf="HardcodedAuthenticationService.isUserLoggedIn()" routerLink ="/welcome/khangelani" class="nav-link">Home</a> </li>
        <li><a *ngIf="HardcodedAuthenticationService.isUserLoggedIn()" routerLink ="/todos" class="nav-link">Goals</a> </li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
          <li><a *ngIf="!HardcodedAuthenticationService.isUserLoggedIn()" routerLink ="/login" class="nav-link">Login</a> </li>
          <li><a *ngIf="HardcodedAuthenticationService.isUserLoggedIn()" routerLink ="/logout" class="nav-link">Logout</a> </li>
        </ul>
    </nav>  
</header>